<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Ninja | <%= title %></title>
    <!-- Solo se añade el nombre del archivo dado que ya hemos especificado el directorio antes-->
    <link rel="stylesheet" href="/styles.css">
  </head>